.wrapper {
    position: relative;
    margin-bottom: rem(30px);
    cursor: pointer;
  }
  
  .animationWrapper {
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    padding: 0%;
  }
  
  .pillDrive {
    background-color: var(--mantine-color-teal-5);
    color: var(--mantine-color-dark-9);
  }

  .pillFile {
    background-color: var(--mantine-color-gray-5);
    color: var(--mantine-color-dark-9);
  }
  
  .icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  }